html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #ff7979;
}

.container{
  position: relative;
  width: 100%;
  height: 100%;
}

.box{
  position: absolute;
  width: 200px;
  height: 200px;
  border: solid 2px #4bff9e;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.spin{
  width: 100%;
  height: 100%;
}
.spin div:nth-child(1){
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%) rotate(0deg);
  width: 60px;
  height: 40px;
/*  border-radius: 50%;*/
  background-color: #d7faf8;
}


/****************************
* animation
****************************/
.spin div:nth-child(1){
  animation : spin 3.0s linear 1.0s infinite normal none running;
}


/****************************
* keyframes
****************************/
@keyframes spin{
  0%{
    transform: translate(-50%,-50%) rotate(0deg);
  }
  100%{
    transform: translate(-50%,-50%) rotate(360deg);
  }
}